.container{
  display: flex;
}

button.yellow { 
  height: 35px;
  min-width: 130px;
  border: none;
  background: #ffc107;
  cursor: pointer;
}

button.blue { 
  height: 35px;
  min-width: 130px;
  border: none;
  background: #07a8ff;
  cursor: pointer;
}

button.red { 
  height: 35px;
  min-width: 130px;
  border: none;
  background: #ff2c07;
  cursor: pointer;
}

button.large {
  width: -webkit-fill-available;
  height: 60px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}
